# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/Algorithm.iml
/uiDesigner.xml
/compiler.xml
/misc.xml
/vcs.xml
/jarRepositories.xml
